body {
  margin: 0;
  padding: 0;
  font-family: Linux Libertine,Georgia,Times,serif;
}

.central {
  margin-top: 45px;
  text-align: center;
}

.central-img-container {
  margin-bottom: 10px;
  /* border: solid 1px red; */
}

.central-text {
  font-size: 14px;
  font-weight: 400;
}

.hero {
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero-container{
  margin-top: 20px;
  padding: 0px;
  height: 300px;
  max-width: 750px;
  min-width: 650px;
  /* border: solid 1px rosybrown; */
  position: relative;
}

.hero-container > img {
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.hero-languages div {
  margin: 0px;
  text-align: center;
}

.hero-languages div > a {
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  color: #36c;
  text-decoration: none;
}

.hero-languages div > p {
  margin-top: 5px;
  width: 150px;
  font-size: small;
  color: #54595d
}

#lang-1 {
  position: absolute;
  left: 20%;
  top: 0%
}

#lang-2 {
  position: absolute;
  right: 20%;
  top: 0%;
}
#lang-3 {
  position: absolute;
  left: 10%;
  top: 20%
}
#lang-4 {
  position: absolute;
  right: 10%;
  top: 20%
}
#lang-5 {
  position: absolute;
  left: 8%;
  top: 40%
}
#lang-6 {
  position: absolute;
  right: 8%;
  top: 40%
}
#lang-7 {
  position: absolute;
  left: 10%;
  top: 60%
}
#lang-8 {
  position: absolute;
  right: 10%;
  top: 60%
}
#lang-9 {
  position: absolute;
  left: 20%;
  top: 80%
}
#lang-10 {
  position: absolute;
  right: 20%;
  top: 82%
}

.search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search-input-container {
  border: solid 1px #a2a9b1;
  width: 390px;
  height: 40px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-container > input {
  margin: 0px;
  height: inherit;
  width: 330px;
  border: 0px;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  box-sizing: border-box;
}

.search-input-container > input:focus {
  outline: none;
}

.search-input-container:hover {
  border: solid 1px #72777d;
}

.search-select {
  margin: 5px;
  padding: 0px;
  height: 25px;
  width: 45px;
  display: flex;
  position: relative;
  align-items: center;
}

.search-select:hover{
  border: solid 1px #3466cc;
  cursor: pointer;
}

.search-select > label {
  position: absolute;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  top: 5px;
  left: 5px;
  z-index: -1;
}

.search-select > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  background: transparent;
  background-image: url(/assets/sprite_assets/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  width: 40px;
  height: 20px;
  cursor: pointer;
  outline: none;
}

.search > button {
  background: #36c;
  background-image: url('/assets/sprite_assets/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.list-lang {
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.list-button {
  margin: 0px;
  padding: 5px;
  width: 250px;
  border: solid 1px #72777c;
  border-radius: 2px;
  color: #36c;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.list-button:hover {
  outline: none;
  border: solid 2px #36c;
}

.list-button img {
  margin-left: 0px;
}

.list-button label {
  margin: 0 10px 0 10px;
  font-size: 14px;
}

.list-button > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  background: transparent;
  background-image: url(/assets/sprite_assets/arrow-down-blue.svg);
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  width: 250px;
  height: 40px;
  cursor: pointer;
  outline: none;
  position: absolute;
}

hr {
  margin: 0.26em 1.3rem;
}

